/*----------------------------------------------------
Table of Content
-Container
-Header
-Main
-Footer
---------------------------------------------------- */

/*---- Container ---- */

.container {
  box-sizing: border-box;
}

/*---- Container ---- */

/*---- Header ---- */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-size: 36px;
}
/*---- Header ---- */

/*---- Main ---- */

.btn-sign {
  font-size: 14px !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-post {
  margin-bottom: 4rem;
}

.img__search {
  height: 20px;
  width: 52px;
}

.blog-pagination {
  margin-bottom: 4rem;
}

/*---- Main ---- */


/*---- footer ---- */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

/*---- footer ---- */